.dice {
  width: 10rem;
  height: 10rem;
  background-color: black;
  color: yellow;
  font-size: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin-top: 0.5rem;
}

.player {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.2rem;
}

.player div {
  width: 8rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  color: white;
  border: 1px solid black;
}

.player div.win {
  background-color: yellow;
  color: black;
}
